body {
    background-color: black;
    color:blanchedalmond;
    font-family: AkayaKanadaka-Regular, Arial, Helvetica, sans-serif;
}

img#logo {
    width: 200px;
}
.t-50 {
    width: 50%;
}

header {
    display: flex;
}

nav {
    /* Las medidas de witdth pueden ser :
    en pixeles: 100px
    en porcentajes: 100%
    con relacion al tamaño de la pantalla: 100vh */
    width: 100%;
}

ul {
    /* Esta propiedad modifica el adorno del lado izquierdo de las listas.
    Si ponemos como valor none, obligamosa la lista a no tener adornos*/
    list-style: none;

    /* Estas propiedades serán explicadas más adelante */
    display: flex;
    flex-direction: row;

    /* Le indicamos que se posicione a la derecha, equivalente al alinear a la derecha de microsoft word o similares: ; */
    float: right;
}
a {
    font-family: HarryPotter;
    color: white;
    /* modificamos el decorado de un texto, si tiene el valor none, le estamos indicando que no tendra decoraciones */
    text-decoration: none;
    /* le agregamos un margen a la izquiersa de 10 pixeles */
    margin-left: 10px;
}

@font-face {
    /* font-family es la propiedad que le asigna un nombre a la nueva fuente.
    El nombre es a gusto de cada quien. Por convencion, se pone el nombre 
    real, en este caso, AkayaKanadaka */
font-family: Akaya AkayaKanadaka-Regular;
src: url('../Fonts/AkayaKanadaka-Regular.ttf')
}
@font-face {
font-family: HarryPotter;
src: url('../Fonts/HARRYP__.TTF')
}
@font-face {
    font-family: Glory;
    src: url('../Fonts/Glory-VariableFont_wght.ttf')
    }
 @font-face {
    font-family: GloryCursiva;
    src: url('../Fonts/Glory-Italic-VariableFont_wght.ttf')
    }

table, th, td {
    border: 1px solid cornsilk;
    font-size: larger;
    text-align: center;
    padding: 15px;
  }
  table {
    width: 100%;
  }
  
  th {
    height: 70px;
  }
  th {
      font-family: HarryPotter;
  }

td {
    font-family: Glory;
}
th {
    background-color:blanchedalmond;
    color: black;
  }

article {
    text-align: center;
    margin: 32px auto;
    /* margin: 32px auto; */
    width: 80%;
    /* width: 80%; */
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin: 0 auto;
}
footer {
    text-align: center;
}
div#slider {
    background-image: url('../images/541374.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 160px);
    animation: changegojira 5s infinite;
    animation-delay: o.3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes changegojira {
    0% {
        background-image: url('../images/IMG_6239.jpg');
    }
    25% {
        background-image: url('../images/IMG_6259.jpg');
    }
    50% {
        background-image: url('../images/IMG_6263.jpg');
    }
    75% {
        background-image: url('../images/IMG_6251.jpg');
    }
    100% {
        background-image: url('../images/IMG_6256.jpg');
    }
}

